<h4 style="padding: 0; text-align: center">Analytics</h4>
<hr />
  <div>
    <h5>Pending Tasks: {{ todosPending }}</h5>
    <h5>Completed Tasks: {{ todosCompleted }}</h5>
    <h5>Total Number of Tasks: {{ todosAll }}</h5>
    <h5><strong> KPI: {{ (todosCompleted/todosAll)*100 }}%</strong></h5>
  </div>
  <hr />
<div style="display: block" *ngIf="doughnutChartData.length > 0">
    <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
    </canvas>
</div>